.container-fluid {
    margin-top: 50px;
}

h1.display-4 {
    font-weight: bold;
    color: #0056b3; /* Text color */
}

p.lead {
    font-size: 1.2rem;
    color: #333;
}

form {
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    form .form-floating {
        margin-bottom: 20px;
    }

    form button {
        background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(0,200,255,1) 100%);
        border: none;
        font-size: 1.2rem;
        color: white;
    }

        form button:hover {
            background-color: #0056b3;
            transition: 0.3s ease;
        }

/* Responsive design adjustments */
@media (max-width: 768px) {
    .container-fluid {
        margin-top: 30px;
    }

    form {
        padding: 15px;
    }

        form button {
            font-size: 1rem;
        }

    .lead {
        font-size: 1rem;
    }
}
